<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="tw-bg-danger tw-flex tw-items-center tw-justify-between tw-px-4 tw-py-3 tw-rounded-t-lg">
                <div class="tw-flex tw-items-center tw-gap-2">
                    <i data-lucide="alert-triangle" class="tw-w-5 tw-h-5 tw-text-white"></i>
                    <h5 class="modal-title tw-text-white tw-mt-1" id="modalCenterTitle">Xác nhận xóa</h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Form POST xóa -->
            <form id="deleteForm" method="post" asp-area="Admin" asp-controller="KhachHang" asp-action="Delete">
                <input type="hidden" name="id" id="delete-id" />

                <div class="modal-body">
                    <div class="tw-flex tw-pt-3 tw-pb-1">
                        <div class="tw-shrink-0 text-danger tw-mr-4">
                            <i data-lucide="trash-2" class="tw-w-6 tw-h-6"></i>
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="tw-text-neutral-800 tw-font-medium mb-2">Bạn chắc chắn muốn xóa mục này?</h6>
                            <p class="tw-text-neutral-400">Hành động này sẽ xóa vĩnh viễn dữ liệu và không thể hoàn tác.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-danger tw-flex tw-items-center tw-gap-2">
                        <i data-lucide="trash-2" class="tw-w-4 tw-h-4"></i>Xác nhận
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>