@{
    ViewBag.Title = "Đặt Dịch Vụ Thành Công";
}
<main class="tw-min-h-[550px] tw-flex tw-items-center tw-justify-center tw-pb-20">
    <div class="tw-p-8 tw-w-full tw-max-w-md tw-text-center">
        <div class="tw-flex tw-justify-center tw-mb-5">
            <i data-lucide="check" class="tw-w-28 tw-h-28 tw-text-primary"></i>
        </div>

        <h1 class="tw-text-2xl tw-font-semibold tw-text-gray-800">Đặt dịch vụ thành công</h1>
        <p class="tw-text-gray-500 tw-mt-2">Cảm ơn bạn đã lựa chọn <span
                class="tw-font-semibold tw-text-primary">Grandoria</span>.
            Chúng tôi rất hân hạnh được phục vụ bạn.</p>

        <div class="tw-flex tw-items-center tw-gap-3 tw-mt-8">
            <a href="/Home/Index"
                class="tw-flex tw-items-center tw-justify-center tw-gap-1.5 tw-w-[43%]
                 tw-bg-gray-100 tw-text-gray-700 tw-py-2.5 tw-rounded-lg tw-font-medium hover:tw-bg-gray-200 tw-transition">
                <i data-lucide="chevron-left" class="tw-w-6 tw-h-6 tw-mb-0.5"></i>
                Về trang chủ
            </a>
            <a href="/Users/Profile"
                class="tw-flex tw-items-center tw-justify-center tw-gap-1.5 tw-w-[57%]
                 tw-bg-primary tw-text-white tw-py-2.5 tw-rounded-lg tw-font-medium hover:tw-bg-primary/90 tw-transition">
                <i data-lucide="history" class="tw-w-6 tw-h-6 tw-mb-0.5"></i>
                Xem lịch sử đặt dịch vụ
            </a>
        </div>
    </div>
</main>